/* ---------- page d'accueil ---------- */


#welcome-div {
    min-height: 100vh;
    background-image: url(../assets/book-bg.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

#welcome-h1 {
    color: white;
    text-shadow: #000 1px 0 10px;
}

.welcome-btn {
    background: linear-gradient(rgb(185, 59, 28), rgb(128, 42, 20));
    box-shadow: #000 1px 0 10px;
}

.welcome-btn:hover {
    text-decoration: none;
    background: linear-gradient(rgb(202, 47, 8), rgb(151, 36, 7));
}


/* ---------- pages admin ---------- */


.library-btn {
    background-image: url(../assets/book-cover.jpg);
    box-shadow: rgb(77, 50, 10) 1px 1px 10px;
    transition: 0.3s ease-in-out;
}

.library-btn:hover {
    text-decoration: none;
    margin-right: 5px;
}

#app {
    min-height: 100vh;
    background-color: rgb(221, 200, 169);
}

.navbar {
    background-image: url(../assets/book-cover.jpg);
    box-shadow: #000 1px 0 10px;
}

.library-h1 {
    color : white;
    text-shadow: rgb(77, 50, 10) 1px 0 5px;
}

.delete-btn {
    background: linear-gradient(rgb(156, 14, 14), rgb(124, 17, 17));
}

.delete-btn:hover {
    text-decoration: none;
}

.read-btn {
    background: linear-gradient(rgb(190, 140, 31), rgb(177, 130, 29));
}

.read-btn:hover {
    text-decoration: none;
}

.edit-btn {
    background: linear-gradient(rgb(190, 140, 31), rgb(177, 130, 29));
}

.edit-btn:hover {
    text-decoration: none;
}